.navbar-button {
  border: 0.5px solid orangered;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}
* {
  margin: 0px;
}

.homeBox2 {
  background-image: url("/public/assets/12059536-4880185-1.png");
  width: 100%;
  height: auto;
  gap: 20px;
}
.homeBox1 {
  background-image: url("/public/assets/poster-1-concept-1.png");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBox1 {
  background-image: url("/public/assets/rectangle-76.png");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.salesBox1 {
  background-image: url("/public/assets/sales.png");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.lowCodeBox1 {
  background-image: url("../public/assets/rectangle-103.svg");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.digitalBox1 {
  background-image: url("/public/assets/digital/rectangle-103.svg");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients {
  background-image: url("/public/assets/vecteezy-world-map-1198030-1.png");
  width: 100%;
  height: 600px;

  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.expert {
  background-image: url("/public/assets/vecteezy-world-map-1198030-1.png");
  width: 100%;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector-wrapper {
  position: absolute;
  width: 129px;
  height: 129px;
  border-radius: 64.4px;
  border: 4px solid;
  border-color: #00000073;
}

.chart {
  background-image: url("../public/assets/sales/design-1.png");
  width: 100%;
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloudBox1 {
  background-image: url("../public/assets/rectangle-54.svg");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobileBox2 {
  width: 100%;
  height: auto;
  background-image: url("../public/assets/mobile/design-10-color.png");
  padding: 50px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobileBox1 {
  background-image: url("../public/assets/mobile/rectangle-54.svg");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.aiBox1 {
  background-image: url("../public/assets/ai/rectangle-88.png");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aiBox2 {
  background-image: url("../public/assets/ai/design-3.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.lowCodeBox2 {
  background-image: url("../public/assets/lowcode/design-10-color.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.webBox1 {
  background-image: url("../public/assets/web/rectangle-103.svg");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.blockchainBox1 {
  background-image: url("../public/assets/blockchain/rectangle-103.svg");
  width: 100%;
  height: auto;
  gap: 20px;
  text-align: left;
  padding: 150px 10px 150px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.webBox2 {
  background-image: url("../public/assets/web/design-5.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}
